/* Підключення шрифтів */

/* Google Fonts (Plugin) */
@import url("https://fonts.googleapis.com/css?family=Manrope:regular,500,600,700&display=swap");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

.header {
	width: 100%;
	height: 70px;
	background-color: #FFF;
	border: 1px solid #FE3F3F;
	box-shadow: #1207e6 0 0 3px;
}

.header__container {
	padding: 1px 0 0 25px;
	max-width: 1200px;
}

.logo__img {
    height: 64px;
	width: 64px;
}

/* Основні стилі */
body {
	font-family: "Gilroy", sans-serif;
	font-size: 15px;
	line-height: 1.2;
}

.wrapper {
	overflow: clip;
	min-height: 100vh;
}

.business {
	max-width: 100%;
	padding: 0;
	margin: 0 auto;
	border: none;
	box-sizing: border-box;
}

.main__container {
	width: 100%;
	margin: 0 auto;
	padding: 25px 0 0 70px;
	background-color: #412672;
}

.item-title {
	width: 505px;
	height: 92px;
	color: #FFF;
	font-family: "Inter", sans-serif;
	font-size: 38px;
	font-weight: 400;
}

.item-title span {
	color: #FFF;
	font-family: "Inter", sans-serif;
	font-size: 38px;
	font-weight: 700;
}

/* ============================================= */
/* =============== Псевдокласи ================= */
/* ============================================= */

.block__business {
	width: 100%; 
	margin: 0 auto;
	display: inline-block;
	padding: 31px 15px 102px 60px;
	font-size: 0;
	background-color: #412672;
}

.item__content {
	display: inline-block;
	vertical-align: top;
	border: 1px solid #ccc;
	min-width: 300px;
	max-width: 400px;
	width: calc(33.33% - 20px);
	min-height: 514px;
	padding: 20px 20px 20px 20px;
	margin: 20px;
	background-color: #FFF;
	font-size: 16px;
	box-sizing: border-box;
}

.img__block {
	display: block;
	width: 100%;
	height: auto;
	min-height: 306px;
	object-fit: cover;
}

.item__content:hover {
	background: #FFBE48;
	box-shadow: 0px 384px 108px 0px rgba(0, 0, 0, 0.00),
		0px 246px 98px 0px rgba(0, 0, 0, 0.01),
		0px 138px 83px 0px rgba(0, 0, 0, 0.05),
		0px 62px 62px 0px rgba(0, 0, 0, 0.09),
		0px 15px 34px 0px rgba(0, 0, 0, 0.10);
}

.item__content:active {
	background-color: blueviolet;
}

.img__block:hover {
	opacity: 0.7;
}

.title__name {
	align-self: stretch;
	color: #000;
	font-family: "Inter", sans-serif;
	font-size: 22px;
	font-weight: 600;
	margin: 16px 20px 0px 20px;
}

.title__text {
	align-self: stretch;
	max-width: 387px;
	height: auto; 
	color: #4F4F4F;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 19px;
	margin: 16px 20px 0px 20px;
}

.link {
	color: #FE3F3F;
	font-family: "Inter", sans-serif;
	font-size: 15px;
	font-weight: 400; 
	line-height: 19px;
	margin: 16px 20px 20px 20px;
	display: block;
}

.link:hover {
	color: blue;
	text-decoration: underline;
}

/* ======== Faculty ======== */

.section__faculty {
	width: 100%;
	height: auto; 
	background-color: #FFF;
}

.secondary__container {
	min-width: 518px;
	margin-left: 70px;
	padding-top: 35px;
	text-align: left;
}

.faculty__main {
	color: #412672;
	font-family: "Inter", sans-serif;
	font-size: 34px;
	font-weight: 400;
	line-height: 1.3;
}

.faculty__main span {
	color: #412672;
	font-family: "Inter", sans-serif;
	font-size: 34px;
	font-weight: 700;
}

.faculty__text {
	color: #412672;
	font-family: "Inter", sans-serif;
	font-size: 22px;
	font-weight: 400; 
	margin: 20px 0px 20px 0px;
	line-height: 1.5;
}

.faculty__block {
	width: 505px;
	padding: 10px 0px 30px 40px;
	list-style: none;
}

.block__list {
	color: #4F4F4F;
	font-family: "Inter", sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4;
	margin-bottom: 10px;
}

.block__list::before {
	content: "";
	display: inline-block;
	width: 29px;
	height: 29px;
	background: url("../img/Frame.svg") 0 0 / 29px;
	vertical-align: middle;
	margin-right: 15px;
	margin-left: -44px;
}

/* ======== Footer ======== */

.footer {
	width: 100%;
	padding: 20px 0px 20px 65px;
	background-color: #ffffff;
	border: 1px solid #FE3F3F;
	box-shadow: #1207e6 0 0 3px;
}

.button {
	border: 2px solid black;
	margin: 5px;
	padding: 6px 25px;
	border-radius: 25px;
	color: red;
	display: inline-block;
}

.button:hover {
	opacity: 0.8;
	color: #ff4f00;
	text-decoration: underline;
	background-color: greenyellow;
}

.contacts {
	border: 1px solid #ff4f00;
	margin: 20px;
	padding: 22px 50px;
	font-family: "Poppins", sans-serif;
	font-size: 22px;
	line-height: 1.5;
	background-color: #FE3F3F;
}
